<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    
    <script>
        function getFilesNames() {
            var xmlhttp = new XMLHttpRequest();

            // Define a callback function
            xmlhttp.onload = function () {
                if (xmlhttp.status == 200) {
                    var files = document.querySelector('#files_list');
                    files.innerHTML = "<option>Select file</option>";
                    let array = xmlhttp.responseText.split(';');
                    if (array[0] == '') {
                        return;
                    }
                    array.forEach(function(item, index, response) {
                        files.add(new Option(item));
                    });
                }


            }

            // Send a request
            xmlhttp.open("GET", "http://localhost:8000/db/?file=true", true);
            xmlhttp.send();
        }

        function getTableNames() {
            var files = document.querySelector('#files_list');

            if (files.value != "Select file") {
                var xmlhttp = new XMLHttpRequest();
                // Define a callback function
                xmlhttp.onload = function () {
                    var tables = document.querySelector('#tables_list');
                    tables.innerHTML = "<option>Select table</option>";
                    if (xmlhttp.status == 200) {
                        let array = xmlhttp.responseText.split(';');
                        if (array[0] == '') {
                            return;
                        }
                        array.forEach(function(item, index, response) {
                            tables.add(new Option(item));
                        });
                    }
                }
                // Send a request
                xmlhttp.open("GET", `http://localhost:8000/db/?file=${files.value}&table=true`, true);
                xmlhttp.send();
            }
        }

        function downloadExcel() {
            var files = document.querySelector('#files_list');
            var tables = document.querySelector('#tables_list');
            
            var ref = document.getElementById("reference");
            if (files.value != "Select file" && tables.value != "Select table") {
                ref.setAttribute("href", `http://localhost:8000/db/${files.value}/${tables.value}`);
            } else {
                ref.setAttribute("href", "");
            }
        }

        function sendDatabaseFile() {
            let db = document.getElementById("database").files[0];
            let req = new XMLHttpRequest();
            let formData = new FormData();
            formData.append("database", db);                     
            req.open("POST", 'http://localhost:8000/db/post');
            req.send(formData);
        }

        function deleteDatabaseFile() {
            var files = document.querySelector('#files_list');
            if (files.value != "Select file") {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onload = function () {
                    get_files_names();
                    get_table_names();
                }

            // Send a request
            xmlhttp.open("DELETE", `http://localhost:8000/db/delete/${files.value}`, true);
            xmlhttp.send();
            }
        }

        function showTable() {
            var files = document.querySelector('#files_list');
            var tables = document.querySelector('#tables_list');
            
            var ref = document.getElementById("reference");
            if (files.value != "Select file" && tables.value != "Select table") {
                var xhr = new XMLHttpRequest();
                xhr.open('get', `http://localhost:8000/db/${files.value}/${tables.value}`, true);
                xhr.responseType = 'arraybuffer';
                xhr.onload = function() {
                    if (xhr.status != 200) {
                        return;
                    }
                    var data = new Uint8Array(xhr.response);
                    var workBook = XLSX.read(data, {type:'array'});
                    var sheetName = work_book.SheetNames;
                    var sheetData = XLSX.utils.sheet_to_json(workBook.Sheets[sheetName[0]], {header:1});
                    
                    if (sheetData.length > 0) {
                        var tableOutput = '<table class="table table-striped table-bordered">';
                        
                        for(var row = 0; row < sheetData.length; row++) {
                            tableOutput += '<tr>';
                            
                            for(var cell = 0; cell < sheetData[row].length; cell++) {
                                if(row == 0) {
                                    tableOutput += '<th>'+sheetData[row][cell]+'</th>';
                                }
                                else {
                                    tableOutput += '<td>'+sheetData[row][cell]+'</td>';
                                }
                            }
                            tableOutput += '</tr>';
                        }
                        tableOutput += '</table>';
                        document.getElementById('excel_data').innerHTML = tableOutput;
                    }
                }
                xhr.send();
            }
        }
    </script>
</head>

<body>
    <select id="files_list">
        <option>Select file</option>
    </select>

    <select id="tables_list">
        <option>Select table</option>
    </select>

    <button type="button" onclick="getFilesNames()">Update files list</button>
    <button type="button" onclick="getTableNames()">Update tables list</button>
    <button type="button" onclick="sendDatabaseFile()">Send database file</button>
    <input type="file" name="file" id="database">
    <button type="button" onclick="deleteDatabaseFile()">Delete database file</button>
    <button type="button" onclick="downloadExcel()">Set download reference</button>
    <a id="reference" href="">Download reference</a>
    <button type="button" onclick="showTable()">Show table</button>
    <div id="excel_data" class="mt-5"></div>
</body>

</html>
